@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}
.header-1 img {
  width: 100%;
}
.header-mini {
  background-color: #da002b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-2 {
    background-color: #da002b;
    color: #fff;
    padding: 10px;
}
.header-2-2 h3 {
    font-size: 1rem;
}
.header-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-2-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.mtxt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-3 img {
    width: 130px;
}
.header-2 button {
    padding: 3px 7px;
    border-radius: 10px;
    color: #da002b;
    font-weight: 600;
    background-color: #fff;
    margin: 0 5px;
    border: 2px solid #fff;
}
.header-2 button:hover {
    background-color: #da002b;
    color: #fff;
    transition: 0.5s;
}
.header-2 h1 {
    font-size: 1.3rem;
    color: #fff;
}
.header-2 h1:hover {
    color: #ffffffb4;
    transition: 0.5s    ;
}
.header-2 span button {
    padding: 3px 7px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    background-color: #da002b;
    margin: 0 5px;
    border: 2px solid #fff;
}
.header-2 span button:hover {
    padding: 3px 7px;
    border-radius: 10px;
    color: #da002b;
    transition: 0.5s;
    font-weight: 600;
    background-color: #ffffff;
    margin: 0 5px;
    border: 2px solid #fff;
}

input::placeholder {
  color: black;
}